# MongoDB Atlas Connection URI
# Replace <username>, <password>, and <cluster-address> with your MongoDB Atlas credentials:
MONGODB_URL=mongodb+srv://abhishekgangji90_db_user:<Abhishek123>@cluster0.9byxvbg.mongodb.net/
DATABASE_NAME=Library

